/*头部*/
.top {
  width: 100%;
  min-width: 350px;
  height: 65px;
  background-color: #ff841d;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 65px;
}
.top .left {
  width: 65px;
  position: relative;
}
.top .left a {
  width: 30px;
  height: 30px;
  background: url(../img/icon_bar.png) no-repeat -206px -29px;
  position: absolute;
  left: 24px;
  top: 18px;
}
.top .center {
  flex: 8;
}
.top .center p {
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
  font-family: "微软雅黑";
}
.top .right {
  float: right;
  width: 65px;
}
.top .right a {
  position: relative;
}
.top .right a img {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}
