* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #666;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  /* 解决点击高亮*/
  -webkit-tap-highlight-color: transparent;
}
input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.discout_header {
  background: #ff841d;
  color: #FFFFFF;
  height: 44px;
  width: 100%;
  position: relative;
}
.discout_header .back {
  width: 50px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  line-height: 44px;
}
.discout_header h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0px 52px;
  height: 44px;
  position: absolute;
  top: 25%;
  left: 25%;
}
.discout_header .home_app {
  height: 44px;
  width: 50px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 5px;
}
.discout_header .home_app img {
  height: 33px;
  width: 34px;
}
.list_content .row {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #eeeeee;
  overflow: hidden;
  padding-top: 15px;
}
.list_content .row a .col-xs-6 .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 40px;
}
.list_content .row a .col-xs-6 .img img {
  width: 50%;
  height: 50%;
}
.list_content .row a .col-xs-6 .title {
  color: #333333;
  line-height: 20px;
  height: 36px;
  padding: 0 5px;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  font-weight: 600;
}
.list_content .row a .col-xs-6 .price {
  color: #ff6c00;
  margin-top: 20px;
  font-size: 14px;
  padding: 0 8px;
  text-align: left;
  height: 20px;
  overflow: hidden;
}
.list_content .row a .col-xs-6 .info {
  font-size: 14px;
  line-height: 24px;
}
.list_content .row a .col-xs-6 .info ._mall {
  color: #a1a1a1;
  font-size: 12px;
  text-align: left;
}
.loadMore {
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
}
footer p {
  text-align: center;
  margin: 0;
  color: #5a5a5a;
  font-size: 14px;
}
footer p a {
  display: inline;
}
footer p:first-child a:first-child {
  color: red;
}
.footer_nav {
  padding-top: 20px;
}
.footer_nav ul {
  width: 100%;
}
.footer_nav ul li {
  float: left;
  width: 33.33%;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.footer_nav ul li:last-child {
  border-right: none;
}
footer p {
  text-align: center;
  margin: 0;
  color: #5a5a5a;
  font-size: 14px;
}
footer p a {
  display: inline;
}
footer p:first-child a:first-child {
  color: red;
}
